/*!
 *@ Reset Styling
 1b1b24
 #141b22
 */
::selection {
	background:rgba(94, 176, 253, 0.99);
	color:#ffffff;
}

.main {
	display: flex;
	flex-flow: row nowrap;
	height: 100%;
	-webkit-app-region: no-drag;
}

.dashboard {
	padding: 20px 0 0 20px;
	display: flex;
	flex-flow: column;
	height: 100%;
	user-select: none;
}

.d-links {
	display: flex;
	flex-flow: column;
}

.d-nav-active {
	color: blue;
}

.d-nav {
	padding: 10px 0;
}

.d-logout {
	margin-top: auto;
}

.notification {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
}

.p-header {
	text-align: center;
}

#avatar {
	border-radius: 50%;
	height: 128px;
	width: 128px;
	margin-bottom: 30px;
}

html, body, div, li, ul, p, ol, nav, a, h1, h2, h3, h4,textarea {
	margin: 0;
	padding: 0;
	font-size: 100%;
	color: #23292F;
	text-decoration: none;
	font-weight: lighter;
	box-sizing: border-box;
}

img {
	user-select: none;
}

html,body {
	background: #FFFFFF;
}

li {
	list-style: none;
}

button:hover {
	cursor: pointer;
}

html, body {
	height: 100%;
	max-height: 100%;
	position: relative;
	overflow: auto;
}

#app, .root, #login {
	width: 100%;
	display: flex;
	position: relative;
	height: 100%;
}

.root {
	flex-flow: column;
}

/*!
 *@ Frame Styling
 */
#frame {
	padding: 6px;
	-webkit-app-region: drag;
	color: black;
}

#closebtn {
	background: #FF625A;
}

#minbtn {
	background: #FFBE2F;
}

#resbtn {
	background: #28CE42;
	margin-right: 0;
}

.frame-list {
	display: flex;
	flex-flow: row nowrap;
	width: fit-content;
	margin-left: 3px;
	-webkit-app-region: no-drag;
	user-select: none;
}

.frame-list:hover .frame-control{
	color: inherit;
}

.frame-control {
	font-size: 55%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	color: transparent;
}

/*!
 *@ Login Styling
 */
#login {
	justify-content: center;
	align-items: center;
	-webkit-app-region: no-drag;
}

#darklogin {
	background: #1b1b24;
}

#login-form {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#app-name {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
	user-select: none;
	color: rgb(63, 75, 102);
}

#app-name:hover {
	cursor: default;
}

#uid-icon {
	font-size: 20px;
	padding-right: 5px;
}

#pw-icon {
	font-size: 20px;
	padding-right: 5px;
}

#back-arrow {
	background: none;
	font-size: inherit;
	animation: backarrow 2s infinite;
}

.login-field {
	border-radius: 5px;
	outline: none;
	border: none;
	font-size: 14px;
	width: 180px;
}

.login-fields {
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
}

#login-btn {
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	outline: none;
	border: none;
	color:#FFFFFF;
	background: rgb(0, 119, 255);
	border-radius: 4px;
}

#login-btn:focus {
	box-shadow: 0 0 2px 0 rgb(255, 84, 84);
}

#create-team-btn {
	color: rgb(0, 119, 255);
	background: none;
	border: none;
	outline: none;
}

#create-btn {
	width: 405px;
	padding: 20px;
	outline: none;
	border: none;
	color:#FFFFFF;
	background: rgb(0, 119, 255);
	margin: 3px;
	border-radius: 4px;
	margin-top: 8px;
}

#create-team-btn:hover {
	cursor: pointer;
}

#selected-logo {
	display: none;
	padding: 20px 0;
	flex-flow: row nowrap;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: white;
}

#logo {
	width: 40%;
	height: 100%;
}

#create-form {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#name-icon, #logo-icon, #product-icon, #email-icon {
	margin-right: 7px;
	color: rgb(0, 119, 255);
	border-right: 1px solid #ccc;
	padding-right: 5px;
}

#file-icon {
	color: rgb(0, 119, 255);
	font-size: 48px;
	padding: 10px;
}

#auth-spinner {
	font-size: 60px;
	transition: transform 0.3s ease;
	animation: mouseLoading 5s infinite;
	color: rgb(0, 119, 255);
}

#file-selector {
	opacity: 0;
	position: absolute;
	align-items: baseline;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#auth-spinner-text::before {
	content: "";
	animation: authspinnertext 2s infinite;
	color: rgb(0, 119, 255);
}

.create-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.create-fields {
	display: flex;
	flex-flow: row nowrap;
	font-family: "Arial Rounded MT Bold", "Paytone One", "sans-serif", "sans";
	box-shadow: 0 0 1px 0 #ccc;
	padding: 8px;
	min-width: 400px;
	margin: 3px 3px 10px 3px;
	font-size: 16px;
	background: none;
	border-radius: 4px;
}

.create-logo {
	margin-bottom: 20px;
	font-size: 60px;
	color: rgb(0, 119, 255);
}

#jingyu {
	font-size: inherit;
}

.create-field {
	outline: none;
	border: none;
	width: 100%;
	font-size: 16px;
	background: none;
}

.createteam {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s ease;
	background: #FFFFFF;
}

.createteam-hide {
	width: 0;
	overflow: hidden;
	transition: all 0.5s ease;
}

.create-back-btn {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: fit-content;
	padding: 5px 5px;
	font-size: 30px;
	margin-left: 15px;
	background: none;
	color: rgb(0, 119, 255);
}

.create-back-btn:hover {
	cursor: pointer;
}

.file-drop-container {
	box-shadow: none;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
	font-family: Helvetica Neue For Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.file-drop-container:hover {
	border: 2px dashed rgb(0, 119, 255);
}

.file-drop-container h4 {
	font-weight: bold;
	font-size: 14px;
}

.file-drop-container p {
	color: #ccc;
	font-size: 14px;
}

.back-login {
	font-size: 20px;
	margin-left: 10px;
	min-width: 54px;
	user-select: none;
}

.authing {
	position: absolute;
	z-index: 9999;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
}

/*!
 *@ Projects Styling
 */

#projects {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	-webkit-app-region: no-drag;
	user-select: none;
}

.project-list {
	display: flex;
	max-width: 295px;
	width: 295px;
	flex-flow: column;
	box-shadow: 0 0px 2px 0 rgba(154, 169, 196, 0.2), 0 0px 1px -2px rgba(154, 169, 196, 0.2), 0 0 5px 0 rgba(154, 169, 196, 0.2);
	max-height: 280px;
	overflow-y: scroll;
}

.project {
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	border-bottom: 1px solid rgba(154, 169, 196, 0.2);
	padding: 20px;
	position: relative;
	min-height: 70px;
}

.project:hover {
	background: rgb(0, 119, 255);
	color: white;
}

.p-logo {
	padding-right: 20px;
	width: 50px;
	height: 50px;
}

.p-name {
	color: inherit;
	cursor: pointer;
	font-weight: bold;
	word-break: break-all;
}

.p-owner {
	cursor: pointer;
	position: absolute;
	font-size: 10px;
	color: inherit;
	opacity: 0.7;
	bottom: 0;
	right: 0;
	padding: 20px 20px 10px 20px;
}

.add-project {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	min-height: 67px;
	height: 67px;
	color: rgb(0, 119, 255);
	box-shadow: 0 1px 2px 0 rgba(154, 169, 196, 0.2), 0 2px 1px -2px rgba(154, 169, 196, 0.2), 0 1px 5px 0 rgba(154, 169, 196, 0.2);
	width: 295px;
	transition: height 0.5s ease;
}

.add-project-window-active {
	cursor: default;
	display: flex;
	flex-flow: column;
	height: 100%;
	box-shadow: 0 1px 2px 0 rgba(154, 169, 196, 0.2), 0 2px 1px -2px rgba(154, 169, 196, 0.2), 0 1px 5px 0 rgba(154, 169, 196, 0.2);
	transition: width 0.5s ease;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	background: #FFFFFF;
}

.add-project-window-hide {
	width: 0;
	box-shadow: 0 1px 2px 0 rgba(154, 169, 196, 0.2), 0 2px 1px -2px rgba(154, 169, 196, 0.2), 0 1px 5px 0 rgba(154, 169, 196, 0.2);
	transition: width 0.5s ease;
}

#add-project-btn:hover {
	cursor: pointer;
}

#add-project-btn h4 {
	color: inherit;
}

.hide {
	display: none;
}

.add-product-container {
	cursor: default;
	display: flex;
	flex-flow: column;
	height: 100%;
}

.close-btn-container {
	margin: 20px;
	width: fit-content;
	cursor: pointer;
	padding: 5px;
}

#add-product-icon {
	color: rgb(0, 119, 255);
	font-size: 35px;
}

#add-product-description {
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
}

.add-product-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 20px;
	padding: 5px;
}

.add-product-fields {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	min-width: 200px;
	border: 1px solid rgb(193, 218, 250);
	padding: 5px 0;
	margin: 10px 10px 15px 10px;
}

.add-product-form h1 {
	text-align: center;
	margin: 40px 0;
}

#product-logo {
	width: 100%;
	height: 100%;
}

.add-product-fields input {
	outline: none;
	border: none;
	font-size: 14px;
	width: 100%;
}

.file-drop-container {
	border: 2px dashed #ccc;
}

#add-produ	ct-btn {
	width: 200px;
	margin: 10px;
	outline: none;
	border: 0;
	color: white;
	background: rgb(0, 119, 255);
	padding: 10px 0;
	margin-bottom: 40px;
}

#user {
	position: absolute;
	bottom: 15px;
	left: 20px;
}

.authorized {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	-webkit-app-region: no-drag;
}

/*!
 *@ Animations
 */
@keyframes backarrow {
	0% {
		transform: translateX(-10px);
	}
	50% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-10px);
	}
}

@keyframes mouseLoading {
	0% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(-15px);
	}
	30% {
		transform: translateX(-35px);
	}
	50% {
		transform: rotateY(180deg);
	}
	75% {
		transform: translateX(25px);
	}
	100%{
		transform: translateX(0);
	}
}

@keyframes authspinnertext {
	0% {
		content: "Looking for mice";
	}
	25% {
		content: "Looking for mice.";
	}
	50% {
		content: "Looking for mice..";
	}
	75% {
		content: "Looking for mice...";
	}
	100% {
		content: "Looking for mice";
	}
}